.calendar-wrapper {
    padding: 24px;
    width: 700px;
    border-radius: 8px;
    box-shadow: var(--bg-color-200) 0px 4px 12px;
}

.calendar-header {
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid var(--primary-color);
}

.calendar-header .month-and-year {
    cursor: pointer;
    font-weight: bold;
}

.calendar-header .month-and-year::first-letter {
    text-transform: uppercase;
}

.calendar-header .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: white;
    border-radius: 2px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.calendar-header .arrow > * {
    font-size: 1rem;
}

.calendar {
    padding-top: 16px;
    width: 100%;
}

.calendar tbody  {
    margin-top: 12px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 12px;
}

.calendar thead tr,
.calendar tbody tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 12px;
}

.calendar td,
.calendar th {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 2px;
}

.today {
    background: var(--primary-color);
    color: var(--bg-color);
}

.hidden {
    visibility: hidden;
}

@media (max-width: 860px) {
    .calendar-wrapper {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .calendar-wrapper {
        width: 100%;
    }
}